@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Student" asp-action="Index">Xem tat ca Student</a>    
    <a asp-controller="Student" asp-action="Pagnition">Xem 1 Student</a>    
</div>
